body {
	background-color: hsl(190, 25%, 94%);
	color: hsl(210, 25%, 15%);
	font-family: "Helvetica Neue", Arial, sans-serif;
	letter-spacing: 0.03rem;
	margin: 0;
	padding: 0;
}

/* Header and Nav */
header,
nav {
	padding: 0 10%;
	margin: 4rem 0 3rem;
}

header p {
	line-height: 1.5;
}

/* Space */
section {
	padding: 0 10%;
	margin-block-end: 4rem;
}

/* Headings */
h1 {
	margin-block-end: 2rem;
}

h1 a {
	text-decoration: none;
	color: hsl(10, 80%, 40%);
}

.update {
	margin-block-end: 2rem;
}

section h2 {
	margin-block-end: 2rem;
}

/* List */
ul {
	padding: 0;
}

li {
	margin-block-end: 1rem;
	text-transform: none;
	list-style-position: inside;
	line-height: 2;
}

li a {
	color: hsl(190, 70%, 30%);
}

li a:hover,
li a:focus {
	color: hsl(10, 80%, 40%);
}

li ul {
	margin-block-start: 1rem;
	padding-inline-start: 1.75rem;
}

li ul li {
	margin-block-end: 0.5rem;
}

/* Links */
h2 a {
	color: currentColor;
	text-decoration: none;
}

a span {
	text-transform: initial;
}

/* App Icons */
.icon {
	inline-size: 1.25rem;
	block-size: auto;
	margin-inline-end: 0.25rem;
	display: inline-block;
	/* center image: link and text are already centered with the bullet points */
	vertical-align: middle;
}

/* Text Transform*/
h1,
h2,
li a {
	text-transform: capitalize;
}
