body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  background-color: hsl(190, 25%, 94%);
  color: hsl(210, 25%, 15%);
  letter-spacing: 0.03rem;
}

/* Header */
header {
  margin: 4rem 0;
  padding: 0 10%;
}

/* Space */
section {
  padding: 0 10%;
  margin-bottom: 4rem;
}

/* Headings */
h1 {
  margin-bottom: 4rem;
}

h1 a {
  text-decoration: none;
  color: hsl(10, 80%, 40%);
}

section h2 {
  margin-bottom: 2rem;
}

/* List */
ul {
  padding: 0;
}

li {
  margin-bottom: 1rem;
  text-transform: none;
  list-style-position: inside;
  line-height: 2;
}

li a {
  color: hsl(190, 70%, 30%);
}

li a:hover,
li a:focus {
  color: hsl(10, 80%, 40%);
}

li ul {
  margin-top: 1rem;
  padding-left: 1.75rem;
}

li ul li {
  margin-bottom: 0.5rem;
}

/* Links */
a span {
  text-transform: initial;
}

/* App Icons */
.icon {
  width: 1.25rem;
  height: auto;
  margin-right: 0.25rem;
  /* center image: link and text are already centered with the bullet points */
  display: inline-block;
  vertical-align: middle;
}

/* Text Transform*/
h1,
h2,
li a {
  text-transform: capitalize;
}
